<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" media="all" href="CSS/general.css" th:href="@{CSS/general.css}"/>
</head>
<body>
<h1 th:text="#{welcome}">Sign up to access to our site</h1>
<form method="post" action="CheckLogin">

    <p>Please login to your account</p>

    <label for="username" th:text="#{username}">Username: </label>
    <input type="text" placeholder="Enter your username" th:placeholder="#{phUsername}" id="username" name="username" th:value="${username}" th:class="${errorMessage == null} ? 'error-text' " required><br>
    <p th:text="${usernameErrorMessage}" class="error">Login error</p><br th:if="${usernameErrorMessage!=null}">

    <label for="password" th:text="#{password}">Password: </label>
    <input type="password" placeholder="Enter your password" th:placeholder="#{phPassword}" id="password" name="password" th:value="${password}" th:class="${errorMessage == null} ? 'error-text' " required><br>
    <p th:text="${passwordErrorMessage}" class="error">Password error</p><br th:if="${passwordErrorMessage!=null}">

    <input type="submit" value="Login" th:value="#{login}">

    <p th:text="${errorMessage}" class="error">General error</p><br th:if="${errorMessage!=null}">

</form>
<form method="get"  class="sign-up" action="SignUp">
    <p th:text="#{noProfile}">Don't have a profile yet?</p>
    <input type="submit" value="Sign up" th:value="#{signUp}">
</form>
</body>
</html>