<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to your bank account</title>
    <link rel="stylesheet" type="text/css" media="all" href="CSS/general.css" th:href="@{CSS/general.css}"/>
    <link rel="stylesheet" type="text/css" media="all" href="CSS/welcome.css" th:href="@{CSS/welcome.css}"/>
</head>
<body>
<div class="header">
    <img class="cover" alt="Cover" src="/tiw_2020_exam_Regis/resources/cover.jpg" />
    <div class="heading">
        <h1 class="title" th:text="#{title}">Welcome to Bank Account</h1>
        <h2 class="subTitle" th:text="#{subTitle}">Love to pay again</h2>
    </div>
</div>

<h3 th:text="#{call}">Want to join us?</h3>

<form method="get" action="Login">
    <input type="submit" value="Login" th:value="#{login}">
</form>
<form method="get" action="SignUp">
    <input type="submit" value="Sign up" th:value="#{signUp}">
</form>

</body>
</html>