/* Buttons and submit field basic style */
button, input[type=submit], .file-upload, .top-menu a {
    background-color: #4f86c6;
    color: #ff9fb2;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 20px;
}

/* Buttons and submit field hover style */
input[type=submit]:hover, .file-upload:hover,
input[type=submit]:focus, .file-upload:focus {
    background-color: #c49991;
    color: #44ccff;
}

/*Hide the input file element */
input[type=file] {
    display: none;
}

/* Text fields style */
input[type=text], input[type=password], input[type=email], input[type=date] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #cccccc;
    box-sizing: border-box;
    border-radius: 10px;
}

/* Create a padding for all div elements */
div {
    padding: 16px;
}

/* Error messages style */
.error {
    color: red;
}

.error-input {
    border-color: red;
}

/* Top menu style */
.top-menu {
    overflow : hidden;
    background-color : #60656f;
    position : fixed;
    top : 0;
    width : 100%;
    padding: 0;
    text-align: right;
}

/* Stile for the form in the top menu */
.go-home, .edit-profile, .logout {
    display: inline-block;
}

/* Main style to avoid overlay with top menu */
.main {
    margin-top : 30px;
}
body {
    background-color: #e6ebe0;
}