a {
    background-color: #4f86c6;
    color: #ff9fb2;
    padding: 5px 5px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    text-decoration: none;
}

a:hover {
    background-color: #c49991;
    color: #44ccff;
}

td {
    padding: 10px;
}