<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Account status</title>
        <link rel="stylesheet" type="text/css" media="all" href="../CSS/general.css" th:href="@{CSS/general.css}"/>
        <link rel="stylesheet" type="text/css" media="all" href="../CSS/accountStatus.css" th:href="@{CSS/accountStatus.css}"/>
    </head>
    <body>

        <div class="top-menu">

            <form method="get"  class="go-home" action="Home">
                <input type="submit" value="Home" th:value="#{home}">
            </form>

            <form method="get" class="logout" action="Logout">
                <input type="submit" value="Logout" th:value="#{logout}">
            </form>

        </div>

        <div class="main">

            <h1 th:text="#{title}">Account status</h1>

            <!-- Account details -->
            <table>
                <thead>
                <tr>
                    <th th:text="#{headId}">Account ID</th>
                    <th th:text="#{headBalance}">Balance</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td th:text="${account.id}">1111</td> <!-- TODO: format number -->
                    <td th:text="${account.balance}">1000 €</td> <!-- TODO: format number and add € -->
                </tr>
                </tbody>
            </table>

            <div class="transfers">

                <!-- Outgoing transfers -->
                <table th:if="${not #lists.isEmpty(outgoingTransfers)}">
                    <thead>
                        <tr>
                            <th th:text="#{causal}">Causal</th>
                            <th th:text="#{amount}">Amount</th>
                            <th th:text="#{date}">Date</th>
                            <th th:text="#{destination}">Destination account</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="outgoingTransfer : ${outgoingTransfers}">
                            <td th:text="${outgoingTransfer.causal}" class="outgoing">Payment</td>
                            <td th:text="${outgoingTransfer.amount}" class="outgoing">100€</td>
                            <td th:text="${outgoingTransfer.date}" class="outgoing">01/01/2001</td>
                            <td th:text="${outgoingTransfer.destinationAccount}" class="outgoing">3868</td>
                        </tr>
                    </tbody>
                </table>

                <!-- No outgoing transfers -->
                <p th:if="${#lists.isEmpty(outgoingTransfers)}" th:text="#{noOutgoing}">No outgoing transfers yet</p>

                <!-- Incoming transfers -->
                <table th:if="${not #lists.isEmpty(outgoingTransfers)}">
                    <thead>
                        <tr>
                            <th th:text="#{causal}">Causal</th>
                            <th th:text="#{amount}">Amount</th>
                            <th th:text="#{date}">Date</th>
                            <th th:text="#{origin}">Origin account</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="incomingTransfer : ${incomingTransfers}">
                            <td th:text="${incomingTransfer.causal}" class="incoming">Payment</td>
                            <td th:text="${incomingTransfer.amount}" class="incoming">100€</td>
                            <td th:text="${incomingTransfer.date}" class="incoming">01/01/2001</td>
                            <td th:text="${incomingTransfer.originAccount}" class="incoming">3868</td>
                        </tr>
                    </tbody>
                </table>

                <!-- No incoming transfers -->
                <p th:if="${#lists.isEmpty(incomingTransfers)}" th:text="#{noIncoming}">No incoming transfers yet</p>

            </div>

            <!-- Create a new transfer form -->
            <div class="newTransfer">

                <fieldset>
                    <legend th:text="#{makeTransfer}">Make a new transfer</legend>

                    <form method="post" action="MakeTransfer">

                        <!-- Hidden originAccount -->
                        <input type="hidden" name="origin" th:value="${account.id}" required>

                        <!-- User ID -->
                        <label for="userId" th:text="#{lUserId}">Destination User ID: </label>
                        <input type="text" id="userId" placeholder="Enter destination User ID" name="user" th:placeholder="#{phUserId}" required><br>

                        <!-- Account ID -->
                        <label for="accountId" th:text="#{lAccountId}">Destination Account ID: </label>
                        <input type="text" id="accountId" placeholder="Enter destination Account ID" name="account" th:placeholder="#{phAccountId}" required><br>

                        <!-- Causal -->
                        <label for="causal" th:text="#{lCausal}">Causal: </label>
                        <input type="text" id="causal" placeholder="Enter transfer causal" name="causal" th:placeholder="#{phCausal}" required><br>

                        <!-- Amount -->
                        <label for="amount" th:text="#{lAmount}">Amount: </label>
                        <input type="number" id="amount" value="0" step="0.1"placeholder="Enter the amount of money to transfer" th:placeholder="#{phAmount}" required><br>

                        <!-- Submit button -->
                        <input type="submit" value="Make transfer" th:value="#{submit}">

                    </form>

                </fieldset>

            </div>

        </div>
    </body>
</html>