<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Transfer Successful</title>
        <link rel="stylesheet" type="text/css" media="all" href="../CSS/general.css" th:href="@{CSS/general.css}"/>
        <link rel="stylesheet" type="text/css" media="all" href="../CSS/transferSuccessful.css" th:href="@{CSS/transferSuccessful.css}"/>
    </head>
    <body>

        <div class="top-menu">

            <form method="get"  class="go-home" action="Home">
                <input type="submit" value="Home" th:value="#{home}">
            </form>

            <form method="get" class="logout" action="Logout">
                <input type="submit" value="Logout" th:value="#{logout}">
            </form>

        </div>
        <div class="main">
            <h1 th:text="#{title}">Transfer successful</h1>

            <!-- If account retrieve error, show message -->
            <p th:if="${accountError!=null}" th:text="#{accountError}">Transfer successful. Unable to retrieve accounts. Go to your homepage and check your account balance.</p>

            <!-- If there isn't any error, show accounts -->
            <div th:if="${accountError==null}">

                <!-- Origin account -->
                <fieldset>
                    <legend th:text="#{originAccount}">Transfer's origin Account</legend>
                    <table>
                        <thead>
                        <tr>
                            <th th:text="#{headId}">Account ID</th>
                            <th th:text="#{headBalance}">Balance</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td th:text="${originAccount.id}">1111</td> <!-- TODO: format number -->
                            <td th:text="${originAccount.balance}">1000 €</td> <!-- TODO: format number and add € -->
                        </tr>
                        </tbody>
                    </table>
                </fieldset>

                <!-- Destination account -->
                <fieldset>
                    <legend th:text="#{destinationAccount}">Transfer's destination Account</legend>
                    <table>
                        <thead>
                        <tr>
                            <th th:text="#{headId}">Account ID</th>
                            <th th:text="#{headBalance}">Balance</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td th:text="${destinationAccount.id}">1111</td> <!-- TODO: format number -->
                            <td th:text="${destinationAccount.balance}">1000 €</td> <!-- TODO: format number and add € -->
                        </tr>
                        </tbody>
                    </table>
                </fieldset>
            </div>

            <form method="get" action="Home">
                <input type="submit" value="Return to your Homepage" th:value="#{returnHome}">
            </form>
        </div>
    </body>
</html>