<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Transfer error</title>
    </head>
    <body>
        <div class="top-menu">

            <form method="get"  class="go-home" action="Home">
                <input type="submit" value="Home" th:value="#{home}">
            </form>

            <form method="get" class="logout" action="Logout">
                <input type="submit" value="Logout" th:value="#{logout}">
            </form>

        </div>

        <div class="main">
            <h1 th:text="#{title}">Transfer Error</h1><br><br>

            <!-- Origin Parse Error Message -->
            <p th:if="${originParseError!=null}" th:text="#{originParseError}" class="error">Origin Parse Error</p>

            <!-- Origin Empty Error Message -->
            <p th:if="${originEmptyError!=null}" th:text="#{originEmptyError}" class="error">Origin Empty Error</p>

            <!--- Account Retrieve Error Message -->
            <p th:if="${accountRetrieveError!=null}" th:text="#{accountRetrieveError}" class="error">Account Retrieve Error</p>

            <!-- Destination Ownership Error -->
            <p th:if="${destinationOwnershipError!=null}" th:text="#{destinationOwnershipError}" class="error">Destination Ownership Error</p>

            <!-- Account Retrieve Error -->
            <p th:if="${accountRetrieveError!=null}" th:text="#{accountRetrieveError}" class="error">Account Retrieve Error</p>

            <!-- Origin Ownership Error -->
            <p th:if="${originOwnershipError!=null}" th:text="#{originOwnershipError}" class="error">Origin Ownership Error</p>

            <!-- Funds Error -->
            <p th:if="${fundsError!=null}" th:text="#{fundsError}" class="error">Funds Error</p>

            <!-- Transfer Error -->
            <p th:if="${transferError!=null}" th:text="#{transferError}" class="error">Transfer Error</p>


        </div>
    </body>
</html>